<div class="container">
 	<div class="row">
	<div class="col-lg-4">
	<%= render 'users/userinfo' ,user:current_user,book:@book%>
	</div>
<% if @book.errors.any? %>
	<% @book.errors.full_messages.each do |message| %>
	<p style="color: red;">error <%= message %></p>
	<% end %>
<% end %>


<h2>Books</h2>

	<div class="container">
 	<div class="row">
	<div class="col-lg-8">
 <table class="table table-books">
  <thead>
       <th>Title</th>
       <th>Opinion</th>
    </thead>

  <tbody>
  	<tr>
   <% @books.each do |book| %>
 		<td>
 		<%= link_to user_path(book.user) do %>
 			<%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" ,size: '40x40'%></td>
 			<% end %>
   		<td><%=link_to book.title, book_path(book) %></td>
   		<td><%=link_to book.body, book_path(book) %></td>
	</tr>
   <% end %>

  </tbody>
 </table>
</div>
</div>
</div>